<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppSettings" type="com.portal.AppSettings, BLL"/>
  </configSections>
  <AppSettings
      
    InBoundPath="I:\Broker\Production\IN\"
    OutBoundPath="I:\Broker\Production\OUT\"
    UPLOADPath="I:\Broker\Production\UPLOAD\"
    BackupPath="I:\Broker\Production\Backup\"
    
    
  
    
    INPre="IC0562_TP02_L050_"
    OUTPre="IC0561_TP02_L050_"
        
  />
</configuration>