<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SERVER" value="10.155.36.121"/>-->
    <add key="SERVER" value="AARON-E5FF80F0E\MYSQLSERVER"/>
    <add key="DATABASE" value="portal"/>
    <add key="UID" value="B2VbEKF6aLo="/>
    <!--<add key="PASSWORD" value="Zewbk73BrD+MRdOC7BZFAQ=="/>-->
    <add key="PASSWORD" value="4l0I8pnm5E5ZUWJk5qgnVw=="/>
    <add key="logConfigFile" value="Log4Net.xml"/>
  </appSettings>
  
</configuration>